@media(max-width:600px)
{
h1
{
    border-bottom : 5px solid rgb(128, 0, 79) ;
    padding:20px;
    margin-bottom: 0px;
}
ol
{
    border-right : 5px solid hotpink;
    width: 120px;
    margin-top: 0px;
    padding-top: 10px;
}   
}
@media(min-width:600px) {
    h1
    {
        border-bottom : 5px solid greenyellow ;
        padding:20px;
        margin-bottom: 0px;
    }
    ol
{
    border-right : 5px solid blueviolet;
    width: 120px;
    margin-top: 0px;
    padding-top: 10px;
}
}
#container
{
    display: grid;
    grid-template-columns: 180px 1fr;
}
